[Desktop Entry]
Name=whatsdesk
Exec=/opt/whatsdesk/whatsdesk --enable-features=WaylandWindowDecorations --ozone-platform='wayland' %U
Terminal=false
Type=Application
Icon=whatsdesk
StartupWMClass=whatsdesk
Comment=unofficial whatsapp client for linux 
MimeType=x-scheme-handler/whatsapp;
Categories=Network;
