@import "Monterey/colors/light.css";
@import "Monterey/colors/dark.css";

@import "Monterey/pages/newtab.css";
@import "Monterey/pages/privatebrowsing.css";
@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    .click-target-container *, .top-sites-list * {
        color: #fff !important ;
        text-shadow: 2px 2px 2px #222 !important ;
    }

    body::before {
        content: "" ;
        z-index: -1 ;
        position: fixed ;
        top: 0 ;
        left: 0 ;
        background: #f9a no-repeat url(home/pratyush/.wallpapers/wall.png) center ;
        background-size: cover ;
        width: 100vw ;
        height: 100vh ;
    }
}